/* #d4b270 */

/*  الموقع */
@media only screen and (orientation: landscape) {
nav{
    height: 80px;
    display: flex;
    width: 100%;
    background-color:rgba(20, 88, 83, 0.644);
    color:white;
    align-items: center;

}
nav > * {
    flex: 1;
}

.nave__left img {
    height: 80px;
    margin-left: 60px;
}
.nave__right {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    
}

.nave__right a {
    text-decoration: none;
    font-size: 20px;
    color:white;
}
.small_nav a{
    font-size: 1vw;
}

#logo{
    border-left:3px solid rgba(0, 0, 0, 0.123);
    border-right:3px solid rgba(0, 0, 0, 0.123);
}


.auth{
    display: flex;
    flex-direction:column;
    position:absolute;
    top:25%;
    left:25%;
    padding: 5%;
    background-color:rgba(183, 185, 185, 0.274);
    width:50%;
    height:80%;
    text-align:center;
    border-right:20px solid #d4b270;
  
}

.auth *{
    margin-bottom:2%;
}


.auth a{
  margin-bottom:5%; 

}

}


/*  حوال */

@media only screen and (orientation: portrait) {

    nav{
        height: 80px;
        display:flex;
        flex-wrap:wrap ;
        width: 100%;
        background-color:rgba(20, 88, 83, 0.644);
        color:white;
        align-items: center;
    
    }
    nav > * {
        flex: 1;
      
    }
    
    .nave__left img {
        height: 80px;
        margin-left: 60px;
    }
    .nave__right {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        
    }
    
    .nave__right a {
        text-decoration: none;
        font-size: 20px;
        color:white;
        font-size:20px;
        font-size: 13px;
    }
    .small_nav a{
        font-size: 10px;
    }
    
    #logo{
        width:50px;
        height:50px;
        border-left:3px solid rgba(0, 0, 0, 0.123);
        border-right:3px solid rgba(0, 0, 0, 0.123);
    }
    
    
    .auth{
        display: flex;
        flex-direction:column;
        position:absolute;
        top:25%;
        left:25%;
        padding: 5%;
        background-color:rgba(183, 185, 185, 0.274);
        width:50%;
        height:70%;
        text-align:center;
        border-right:20px solid #d4b270;
      
    }
    
    .auth *{
        margin-bottom:2%;
    }
    
    
    .auth a{
      margin-bottom:5%; 
    
    }

}